/* Global */

:root {
    /* color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-python-yellow: #e2e629;
    --color-python-blue: #3165f5;
    --color-pink: #fe918d;
    --color-dark-pink:#ff6863;
    --color-black:#4d4d4d;
    --color-dark-grey:#4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7977;
    --color-blue:#73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;


    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --font-bold: 700;
    --font-semi-bold: 600;
    --font-regular: 400;

    /* Size */


}

/* Universal tags */
* {
    box-sizing: border-box;
    /* border-box하면 패딩줘도 동일하게 box 사이즈 결졍됨 */
    
}